*.o
*.mod
*.d
*.bak
*.old
*.x
*.out
*.swp
*.pyc
*.pyo
tags
examples/*
lib/*
autom4te.cache/*
Makefile
make.config
make.rules
config.h
config.log
config.status
deps.mk
gimic
xcpdens
build-stamp
tools/MOL2mol.sh
tools/turbo2mol.py
